/* Navigation */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
/* Home Section */
#home{
height: 370px;
padding: 3px 68px;
}

#home::before{
height: 480px;
}

#home::before{
font-size: 13px;
}


/* services section */
#Services{
flex-direction: column;
}

#Services .box{
padding: 14px;
margin: 2px 15px;

}

/* clients section */
#clients{
    flex-wrap: wrap;
}

#client img{
    width: 46px;
    padding: 2px 6px;
}

/* contact us section */

/* footer */

/* uitility classes */
.h-primary{
font-size: 26px;
}

.btn{
    font-size: 13px;
    padding: 4px 8px;
}